@charset "UTF-8";

* {
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

header {
  background-color: white;
}
#header {
  max-width: 1200px;
  height: 60px;
  margin: 0 auto;
}
#logo {
  display: inline-block;
  margin-top: 10px;
}
header nav {
  float: right;
  display: inline-block;
  margin-top: 15px;
}
header nav a {
    text-decoration: none;
    color: #777;
    font-size: 18px;
}

#cover {
    color: blue;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}
#cover_title {
    font-size: 36px;
    letter-spacing: 10px;
}

#main {
    width: 1200px;
    margin: 0 auto;
}
#blog_list {
    margin: 20px auto;
}

.blog_item {
  width: 270px;
  margin: 15px;
  float: left;
  background-color: white;
  border: solid 1px #ddd;
}

.blog_item .blog_image {
  width: 270px;
  height: 270px;
  padding: 10px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.blog_item .blog_image img {
  max-height: 250px;
  max-width: 250px;
  vertical-align: middle;
}

footer {
    padding: 20px 0;
    text-align: center;
    color: gray;
}
